@import url('https://fonts.googleapis.com/css?family=Poppins:wght@200;300;400;500;600;700;900&display:swap');

*
{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

body
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #a0004e;
}

.search-box
{
	min-width: 600px;
}

.search-box h2
{
	text-align: center;
	color: #fff;
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 10px;
}

.search-box input
{
	position: relative;
	display: inline-block;
	font-size: 20px;
	box-sizing: border-box;
}

.search-box input[type="text"]
{
	background: #fff;
	width: 340px;
	height: 50px;
	border: none;
	outline: none;
	padding: 0 25px;
}

.search-box select
{
	position: relative;
	left: -3px;
	border: none;
	outline: none;
	background: #fff;
	font-size: 18px;
	padding: 11px 16px 12px;
	margin: -2px;
	border-right: 15px solid #fff;
}

.search-box input[type="submit"]
{
	position: relative;
	left: -5px;
	width: 150px;
	height: 50px;
	border: none;
	outline: none;
	cursor: pointer;
	background: #ff4282;
	color: #fff;
}

.search-box input[type="submit"]:hover
{
	background: #ef296c;
}